<div>
    <h1 class="text-center py-3">VISOR DE DATOS ELECTRICOS</h1>
    <p class="mx-5">Página web dedicada a la visualización de datos eléctricos de diferentes comunidades autónomas. Se puede ver la producción eléctrica en un año concreto en todo el territorio nacional o en la comunidad o ciudad autónoma selecionada.</p>
</div>
<div class="container d-flex justify-content-center">
    <a routerLink="/datos" class="btn btn-success py-3 px-5 mx-5 my-5">DATOS ELECTRICOS</a>
    <a routerLink="/usuarios" class="btn btn-info py-3 px-5 mx-5 my-5">GESTION DE USUARIOS</a>
</div>
