<div class="container">DATOS ELECTRICOS</div>
<div class="container">
    <div class="d-flex align-items-center my-3">
        <label class="me-2 ms-5">AÑO: </label>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="year">
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
        </select>
        <label class="ms-5 me-2">CATEGORIA: </label>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="categoria">
            <option value="demanda">DEMANDA</option>
            <option value="generacion">GENERACION</option>
        </select>
        <button type="button" class="btn btn-success mx-5" (click)="enviar();">ENVIAR</button>
    </div>

    <p>TITULO: {{datosProcesados.titulo}}</p>

    <div *ngIf="cargando">
        CARGANDO DATOS ... ESPERE POR FAVOR
    </div>



    <table class="table" *ngIf="!cargando">
        <thead>
            <tr>
                <th class="text-center">TECNOLOGIA</th>
                <th class="text-center" *ngFor="let registro of datosProcesados.tecnologias[0].valores">
                    {{ extraerMes(registro.fecha)}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-end" *ngFor="let tecnologia of datosProcesados.tecnologias">
                <td>{{tecnologia.titulo}}</td>
                <td *ngFor="let registro of tecnologia.valores">
                    {{sinDecimales(registro.valor)}}
                </td>
            </tr>
        </tbody>
    </table>



</div>